.blog__label {
    max-width: 1200px;
    color: #fff;
}
.blog__layout {
    background: #fff;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.blog__left {
    width: calc(100% - 340px);
    text-align: left;
    line-height: 1.8;
    margin-bottom: 100px;
    min-height: 800px;
}
.blog__left h4 {
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 0.6em;
}
.blog__left__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.7em;
}
.blog__left__info .info a {
    margin-right: 10px;
}
.blog__left__info .infoBtn a {
    margin-left: 10px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.6);
}

.blog__right {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog__right a {
    width: 30%;
    margin: 0 auto;
    background: #000;
    color: #fff;
    padding: 15px;
}
/* .blog__left textarea {
    width: 100%;
    text-align: left;
    line-height: 1.8;
    margin-bottom: 100px;
    min-height: 600px;
    resize: none;
    background: #ededed;
}
.blog__left input {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
} */
