.footer {
    padding: 100px 0;
    /* background: #f5f5f5; */
    font-family: "GmarketSans";
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}
.footer-menu > div {
    width: 16%;
}
.footer-menu > div h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
}
.footer-menu > div li a {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    position: relative;
    color: #111;
    transition: all 0.3s;
}
.footer-menu > div li a:hover {
    color: rgb(96, 96, 96);
}
.footer-menu > div li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: all 0.3s ease-in;
}
.footer-menu > div li a:hover::before {
    transform: scaleX(1);
    color: #000;
}
.footer-rights {
    font-family: "NexonLv1Gothic";
    text-align: center;
}
